<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="ProductName">サンプルアプリ名 - 講師側</div>
        <nav class="Navgation">
            <a href="#">ホーム</a>
            <a href="#">授業一覧</a>
            <a href="#">xxxさん</a>
            <a href="#">ログアウト</a>
        </nav>
    </header>
    <div class="content">

    </div>
</body>
</html>
